# git ignore file for CommuteClock

# ignore the OS X meta files
**/.DS_Store

# ignore the "Archives" directory, which contains zip files
/Archives/

# ignore security token file
511.*

# ignore xml data files
*.xml

# except for the examples
!example*
